<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Избранное</title>
    <style>
        th {
            cursor: pointer;
        }
        th.i-active {
            color: #6DA3BD;
        }
        tbody tr:hover {
            background-color: #D3E2F0;
        }
    </style>
    <script>
        var items = [
// ITEMS
        ];

        function makeTable(field, reverse) {
            var i, len = items.length,
                el, main = document.getElementById('favorites');

            items.sort(function(l, r) {
                if (field === 'title' || field === 'datetime' || field === 'author') {
                    if (r[field] === l[field]) {
                        return 0;
                    } else if ((r[field] + '').toLowerCase() > (l[field] + '').toLowerCase()) {
                        return -1;
                    } else {
                        return 1;
                    }
                }
                return r[field] - l[field];
            });
            if (reverse) {
                items.reverse();
            }
            main.innerHTML = '';
            for (i = 0; i < len; ++i) {
                el = document.createElement('tr');
                el.innerHTML = '<td>' + (i + 1) + '</td>' +
                               '<td><a href="' + items[i]['ref'] + '">' + items[i]['title'] + '</a></td>' +
                               '<td>' + items[i]['rating'] + '</td>' +
                               '<td>' + items[i]['count'] + '</td>' +
                               '<td>' + items[i]['views'] + '</td>' +
                               '<td>' + items[i]['comments'] + '</td>' +
                               '<td>' + items[i]['author'] + '</td>' +
                               '<td>' + items[i]['datetime'] + '</td>';

                main.appendChild(el);
            }
        }

        function activateField(that, field) {
            var ths = document.getElementsByTagName('th'), i, len = ths.length;

            if (that.className === 'i-active') {
                that.className = 'i-active q-reverse';
                makeTable(field, true);
            } else if (that.className === 'i-active q-reverse') {
                that.className = 'i-active';
                makeTable(field);
            } else {
                for (i = 0; i < len; ++i) {
                    ths[i].className = '';
                }
                that.className = 'i-active';
                makeTable(field);
            }
        }
    </script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th onclick="activateField(this, 'title')">Пост</th>
                <th onclick="activateField(this, 'rating')" class="i-active">Рейтинг</th>
                <th onclick="activateField(this, 'count')">Добавления</th>
                <th onclick="activateField(this, 'views')">Просмотры</th>
                <th onclick="activateField(this, 'comments')">Комментарии</th>
                <th onclick="activateField(this, 'author')">Автор</th>
                <th onclick="activateField(this, 'datetime')">Дата</th>
            </tr>
        </thead>
        <tbody id="favorites">
        </tbody>
    </table>
    <script>
        makeTable('rating');
    </script>
</body>
</html>
